<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="background-color:rgb(255,0,0);">
        <a href="/voronoi"><img src="static/images/voronoi_small.png"></a>
        <!-- <div class="jumbotron">ONE</div> -->
      </div>
      <div class="col-md-6" style="background-color:#0000FF;">
        <!-- <a class="btn btn-default" href="http://www.google.com" role="button">
          <div class="jumbotron">TWO</div>
        </a> -->
        <a href="/voronoi"><img src="static/images/voronoi_small.png"></a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6" style="background-color:orange;">
        <a href="/voronoi"><img src="static/images/voronoi_small.png"></a>
      </div>

      <div class="col-md-6" style="background-color:rgb(100,220,180);">
        <a href="/voronoi"><img src="static/images/voronoi_small.png"></a>
      </div>

    </div>
    <div class="row text-center"><small>This page is under construction.</small></div>
    

  </div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
